body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  max-width: 1250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

label {
  display: block;
}

ul {
  text-align: left;
  margin-left: 30px;
}

li{
  margin-bottom: 1em;
}

.wrapper1 {
  text-align: center;
}

.wrapper2 {
  display: inline-block;
  width: 95%;
  /* background: gray; */
}

.nav-wrapper {
  background-color: white;
  width: 100%;
  margin: 10px auto;
  position: fixed;
  margin: 1px;
  max-width: 1250px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background: black;
  height: 30px;
  align-items: center;
  margin: 3px 5px;
}

.row {
  display: flex;
  flex-direction: row;
}

.twocolumns {
  width: 50%;
  margin: 0px;
}

.headers {
 text-emphasis: none;
 font-size: 3em;
 margin-top: 0px;
 margin-bottom: 0px;
}

.month {
  margin-bottom: 0px;
  text-decoration: underline;
}

.time-bullet{
  margin-bottom: 0px;
}

.recruit-left {
  width: 40%;
  background-color: rgba(27, 73, 181,.2)
}

.recruit-right {
  width: 60%;
  background-color: rgba(27, 73, 181,.8);
  display: flex;
}

.prospective-right {
  text-align: left;
  width: 65%;
  background-color: rgb(255, 255, 255, .6);
  color: rgb(27, 73, 181);
}

.leader-row {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 30px;
  color: rgb(27, 73, 181)
}

.leader-row a {
  color: rgb(27, 73, 181)
}

.picture {
  height: 2018x;
  width: 188px;
  border-radius: 100px;
}

.picname {
  margin: 2px;
}

.picrole {
  margin: 0px;
}

#contact {
  justify-content: center;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
  background-color: rgb(27, 73, 181);
}

#copyright {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-left: 30px;
}

.hashspan {
  margin-top: -50px;
  padding-bottom: 50px;
  display:block;
}
